@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --primary-background: #FFFFFF;
    --secondary-background: #E8E8E8;
    --bb-brand-purple-900: #6116DC;
}

html[data-theme='dark'] {
    --primary-background: #000000;
    --secondary-background: #101010;
}

body {
    margin: 0;
    padding: 0;
}

.primary-theme {
    background-color: var(--secondary-background);
}

.header {
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 98px 20px 20px;
    max-height: 88px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: var(--primary-background);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}

.header-title {
    letter-spacing: 0.025em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    color: var(--bb-brand-purple-900);
    margin: 0;
}

.header-title-container {
    flex-grow: 1;
}

.header-logo {
    height: 100%;
    width: auto;
}

.hero {
    width: 100%;
    background-image: url("https://braydenbabbitt.com/images/brayden-headshot.jpg");
    background-size: cover;
    height: 80vh;
}