@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

:root {
    --primary-background: #FFFFFF;
    --secondary-background: #E8E8E8;
    --primary-text-on-dark: #FFFFFF;
    --primary-text-on-light: #18191b;
    --transparent: rgba(0,0,0,0);
    --bb-brand-purple-900: #6116DC;
    --bb-brand-purple-500: #9165d8;
    --gray-800: #292B2E;

    --primary-font: 'Alata', sans-serif;
    --secondary-font: 'Sarabun', sans-serif;
}

html[data-theme='dark'] {
    --primary-background: #000000;
    --secondary-background: #101010;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* height: 10000vh */
}

a {
    color: inherit;
    text-decoration: inherit;
}

.primary-theme {
    background-color: var(--primary-background);
}

.header {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly;
    padding: 10px 25px 10px 25px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--gray-800);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    letter-spacing: 0.025em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    color: var(--primary-text-on-dark);
    transition: all 0.3s ease-in-out;
}

.smallHeader {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 98px 10px 20px;
    height: 35px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--gray-800);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    letter-spacing: 0.025em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    color: var(--primary-text-on-dark);
    transition: all 0.3s ease-in-out;
}

.header-logo-container {
    display: flex;
    align-items: center;
    flex-shrink: 3;
    height: 80%;
    cursor: pointer;
}

.header-logo {
    display: flex;
    flex-grow: 1;
    object-fit: contain;
    height: 100%;
    cursor: pointer;
}

.header-title {
    height: 100%;
    margin: auto 0;
    font-size: inherit;
    padding-left: 20px;
    font-weight: 100;
}

.header-menu-container {
    font-family: var(--secondary-font);
    height: 100%;
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
}

.header-menu-link {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 20px;
    font-weight: inherit;
}

.header-menu-item {
    line-height: 100%;
    font-weight: inherit;
}

.header-menu-link:hover {
    line-height: 100%;
    font-weight: inherit;
    color: var(--bb-brand-purple-500);
}

.active-menu-item {
    color: var(--bb-brand-purple-500);
    font-weight: 900;
}

.active-menu-item:hover {
    color: var(--bb-brand-purple-900);
}

.hero-text-styles {
    font-family: Alata, sans-serif;
    text-transform: uppercase;
    color: var(--primary-text-on-light);
    font-size: 78px;
    letter-spacing: 0.05em;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 85vh;
    overflow: hidden;
}

.hero-title-block {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 2;
    padding-left: 100px;
    align-items: center;
    height: 100%;
}

.hero-title {
    height: 100%;
    align-self: center;
}

.hero-gradient-block {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    background-image: linear-gradient(to right, var(--primary-background) 0%, var(--primary-background) 25%, var(--transparent) 100%);
}

.hero-image {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    justify-self: right;
    align-self: center;
}

.fill-screen {
    flex-grow: 1;
}

.fill-screen-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.centered-heading {
    align-content: center;
    font-size: 12vh;
    text-align: center;
    font-family: Alata, sans-serif;
    font-weight: 400;
    justify-content: center;
}