@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --primary-background: #FFFFFF;
    --secondary-background: #E8E8E8;
    --primary-text-on-dark: #FFFFFF;
    --primary-text-on-light: #18191b;
    --transparent: rgba(0,0,0,0);
    --bb-brand-purple-900: #6116DC;
    --bb-brand-purple-500: #9165d8;
    --gray-800: #292B2E;
}

html[data-theme='dark'] {
    --primary-background: #000000;
    --secondary-background: #101010;
}

body {
    margin: 0;
    padding: 0;
    height: 10000vh
}

a {
    color: inherit;
    text-decoration: inherit;
}

.primary-theme {
    background-color: var(--primary-background);
}

.header {
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly;
    padding: 10px 25px 10px 25px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--gray-800);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    letter-spacing: 0.025em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    color: var(--primary-text-on-dark);
    transition: all 0.3s ease-in-out;
}

.smallHeader {
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 98px 10px 20px;
    height: 35px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--gray-800);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    letter-spacing: 0.025em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    color: var(--primary-text-on-dark);
    transition: all 0.3s ease-in-out;
}

.header-logo-container {
    display: flex;
    flex-shrink: 3;
    height: 75%;
}

.header-logo {
    display: flex;
    flex-grow: 1;
    object-fit: contain;
    height: 100%;
}

.header-menu-container {
    height: 100%;
    font-size: 18px;
    font-weight: 100;
    text-transform: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
}

.header-menu-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}

.header-menu-item {
    line-height: 100%;
    font-weight: inherit;
}

.header-menu-link:hover {
    line-height: 100%;
    font-weight: inherit;
    color: var(--bb-brand-purple-500);
}

.hero {
    display: flex;
    max-width: 100%;
    background-image: linear-gradient(to right, var(--primary-background) 0%, var(--transparent) 15%),
        url("/images/brayden-headshot.jpg");
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    height: 80vh;
    font-family: Alata, sans-serif;
    text-transform: uppercase;
    color: var(--primary-text-on-light);
    position: static;
    overflow: hidden;
    /* transition: 0.3s ease-in; */
}

.hero-title-block {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    font-size: 4em;
    padding: 0px 100px;
    align-items: center;
    align-content: center;
}

.hero-title {
    display: flex;
    letter-spacing: 0.05em;
    flex-grow: 1;
}