// Colors
$header-background: #292B2E;
$header-text: #FFFFFF;
$header-text-hover: #9165d8;
$header-active-text-hover: #6116DC;

// Sizes
$header-horizontal-padding: 25px;
$header-vertical-padding: 5px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
$primary-font: 'Alata', 'Roboto', sans-serif;
$secondary-font: 'Sarabun', 'Roboto', sans-serif;

// Transitions
$header-link-color-transition: color 0.25s;

// Styles
a {
  color: inherit;
  text-decoration: inherit;
}

.header-menu-link {
  text-decoration: none;
  color: inherit;
  transition: $header-link-color-transition;
}

.header-menu-link:hover {
  color: $header-text-hover;
}

.header-nav {
  display: flex;
  position: sticky;
  height: 60px;
  top: 0;
  width: calc(100% - ($header-horizontal-padding * 2));
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $header-vertical-padding $header-horizontal-padding;
  background-color: $header-background;
  color: $header-text;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  font-family: $secondary-font;
  font-weight: 100;
  letter-spacing: 0.025em;
  font-size: 21px;
}

.header-logo {
  height: calc(50px - ($header-vertical-padding * 2));
}

.header-logo-link {
  display: flex;
  flex-shrink: 1;
  align-items: center;
}

.header-active-item {
  font-weight: 900;
  color: $header-text-hover;
  transition: $header-link-color-transition;
}

.header-active-item:hover {
  color: $header-active-text-hover;
}

.App {
  max-width: 100%;
}